<h1><%= @post.title %></h1>
<p><%= link_to @post.link %></p>
<p><%= @post.description %></p>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path, method: :delete, data: { confirm: 'Are you sure want to delete?' } %>
<%= link_to "Home", root_path %>
